div {
    position: relative;
    overflow: scroll;
    
  }
  
  .contact.first.case {
    background-color: rgb(17, 21, 28);
    position: relative;
    overflow: scroll;
    height: 90%;
  }
  
  .name.contact {
    padding: 25%;
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "BLED" 0, "SCAN" 0, "XELA" 0, "YELA" 0;
    position: relative;
  }
  

  
  @keyframes animator {
    from {
      top: -400px;
    }
    to {
      top: 0px;
    }
  }
  